<div class="container">
<div class="row">
<div class="col-md-3">
<%= render 'users/userinfo', user: @user %>
<%= render 'books/form', book: @book_new %>
</div>
  <div class="col-md-8 offset-md-1">
  <h3>Book detail</h3>
  <table class="table table-striped">
    <thead>
    </thead>
      <td><%= link_to user_path(@book.user) do%>
      <%= image_tag @book.user.get_profile_image(100,100)%></br>
      <%= @book.user.name %>
      <% end %></td>
      
      <td><%= link_to book_path(@book.id) do %>
      <%= @book.title %>
      <% end %></td>
      
      <td><%= @book.body %></td>
      <td>コメント数: <%= @book.book_comments.count %></td>
      <td><%= render "favorites/favolite-btn", book: @book %></td>
    <% if @book.user == current_user %>
     <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-success btn-sm" %></td>
     <td><%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-danger btn-sm" %></td>
    <% end %>
  </table>

      <%= render "book_comments/index", book: @book_new %>
      <%= render "book_comments/form", book: @book, book_comment: @book_comment %>

</div>
</div>
</div>